.FormContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.FormContainer h1 {
  max-width: 100%;
  font-size: 1.8rem;
  margin: 2rem 0;
}

.Form {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px;
  justify-content: space-between;
  border: 1px solid #50394c;
}
.Form input[type="text"] {
  outline: none;
  width: 65%;
  font-size: 1.1rem;
  border: 0;
  background-color: inherit;
  padding: 0;
  color: #172735;
}

.Form input[type="submit"] {
  outline: none;
  width: 30%;
  font-size: 1.2rem;
  font-weight: bold;
  border: 0;
  background-color: inherit;
  padding: 0;
  color: #50394c;
}
.Form input[type="submit"]:hover {
  color: #74426b;
  cursor: pointer;
}
