.TodoItemContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 10px;
  border-bottom: 1px solid #808080;
  animation: todo 0.5s linear;
}

.TodoItemContainer p {
  width: 65%;
  overflow: auto;
  margin: 0;
  font-size: 1rem;
  color: #172735;
}

.TodoItemContainer div {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
}
.TodoItemContainer div>div:hover {
  color: #74426b;
}

@keyframes todo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
