.OuterListContainer {
  width: 100%;
  max-height: 65%;
  overflow: auto;
  margin: 20px 0;
}

.ListContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
}
.ListContainer li {
    width: 100%;
  }